In [1]:
print("hello world")

hello world

In [4]:
#calculator
print("enter your first num")
num1= input()
print("enter your second num")
num2= input()
print("the sum of these num is", int(num1) + int(num2))

enter your first num
49
enter your second num
1
the sum of these num is 50

In [10]:
#print a part of a string 
#example
mystr = "Aadarsh is a good boy"
#python will start counting with 0 for ex above we can see that aadarsh is written there a is 0 d is 3 hence furthr and 
#note- space will also be counted
#now output
print(mystr[4])
print(mystr[5])
print(mystr[7])
print(mystr[13])

r
s

g

In [12]:
mystr = "Aadarsh is a good boy"
print(mystr[0:4])
print(mystr[0:14])

Aada
Aadarsh is a g

In [16]:
#for knowing its legnth
mystr = "Aadarsh is a good boy"
print(len(mystr))

21

In [18]:
#to count how many specific alphabet is there in sent/srt
#ex
mystr = "Aadarsh is a good boy"
print(mystr.count('o'))

3

In [22]:
#to capatilise
mystr = "aadarsh is a good boy"
print(mystr.capitalize())

Aadarsh is a good boy

In [23]:
#to find
mystr = "aadarsh is a good boy"

print(mystr.find("good"))

13

In [30]:
#lower and upper fnc
mystr = "aadarsh is a good boy"
print(mystr.upper())
nstr="AADARSH IS A GOOD BOY"
print(nstr.lower())

AADARSH IS A GOOD BOY
aadarsh is a good boy

In [33]:
#replacew one o=word with other
mystr = "aadarsh is a good boy"
print(mystr.replace('is', "are"))

aadarsh are a good boy

In [35]:
#lec9
penbox = ('pen', 'eraser', 'pencil', 'sharpner',)
print(penbox)
print(penbox[3])

('pen', 'eraser', 'pencil', 'sharpner')
sharpner

In [41]:
numbers= (2, 5, 1, 45, 8)
print(numbers[2])

1

In [42]:
#add a num to a set
numbers= (2, 5, 1, 45, 8)
numbers.appened(20)
print(numbers)

AttributeError: 'tuple' object has no attribute 'appened'