In [ ]:
# q1 table

In [16]:
n=int(input("enter the num which you want table of: "))
for i in range (1,11):
#     print(n,"X",i,"=",n*i)
    print(f"{n}X{i}={n*i}")
    i+=1

enter the num which you want table of: 4
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

In [ ]:
#q to greet all name in list

In [17]:
l=["rohit","sham","raju","rahul"]
for i in l:
    print("Hello",i)

Hello rohit
Hello sham
Hello raju
Hello rahul

In [18]:
#q to greet all name in list whose name starts with s

In [22]:
l=["rohit","sham","raju","rahul"]
for i in l:
    if i.startswith("r"):
        print("hello",i)

hello rohit
hello raju
hello rahul

In [ ]:
#q1 attempt through while loop

i=1
while i<=10:
    print(f"{n}X{i}={n*i}")
print("Done")