In [2]:
a=[123,456,3343,567]

for i in a:
    print(i)

123
456
3343
567

# range fnc

In [3]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [4]:
for i in range (1,8):
    print(i)

1
2
3
4
5
6
7

In [5]:
### Starting from a no to a no 

for i in range (5,30):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [6]:
###  With steps bw no

for i in range (0,10,2):
    print(i)

0
2
4
6
8

In [7]:
for i in range (50,100,5):
    print(i)

50
55
60
65
70
75
80
85
90
95

In [10]:
### example writting a 3 table

for i in range (3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30