# Oops

In [ ]:

Oops
•	Objects
•	Classes
•	Inheritance
•	Abstraction
•	Polymorphism

1	.  Classes and objects

Syntax:-

class classname:
	class variable
def__init__(self,var,var2,------, var n):
	self.var1=var1
	self,var2=var2
	-----------------------
	self.var n=var n
def fun(self):
	----------------------
	----------------------

Objectname=classname()

In [ ]:
##exampls

class Dog:
    att1="mammal"
    def __init__(self,name):
        self.name=name
        print(name)
    def walk(self):
        print("my dog can walk")
Tommy= Dog("tommy")
Rodder= Dog("rodder")

Tommy.walk()

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
   



p1 = Person("John", 36)

print(p1.name)
print(p1.age)

In [ ]:
#create a class name stu inside the class there are no variableaes and methods of the classs
# create two obj of the class stu1 and stu2 and  initilise the name and age and grad level for both the obj
# outside the class and print the name , age , and grad level of both the obj 


class student:
    def __init__(self,name,age,grad):
        self.name = name
        self.age = age
        self.grad = grad

stu1 = student("john",25,"post grad")
stu2= student("raj",20,"grad")

print(stu1.name)
print(stu1.age)
print(stu1.grad)

print("\n")

print(stu2.name)
print(stu2.age)
print(stu2.grad)

In [ ]:
class student:
    pass
s1=student()
s2=student()

s1.name="A"
s1.age=18
s1.grad="bba"

s2.name="b"
s2.age=23
s2.grad="Mba"

print("Detail of",s1.name,s1.age,s1.grad)
print("Detail of",s2.name,s2.age,s2.grad)

In [ ]:
''' create a class name stu insidet the class create init method with self, name , age ,email attributes, and intitilise these attrib
inside init metho for class name stu create two obj stu1 and stu 2
'''
class student:
    def __init__(self,name,age,email):
        self.name = name
        self.age = age
        self.email = email

stu1 = student("john",25,"john25@gamil.com")
stu2= student("raj",20,"raj20@gmail.com")

print(stu1.name)
print(stu1.age)
print(stu1.email)

print("\n")

print(stu2.name)
print(stu2.age)
print(stu2.email)

In [5]:
class stu:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
    
s1= stu( (input("name: ")), int(input("age: ")) , input("dob: ")  )
# s2= stu("phunsuk",20,"11/08/2002")

print(s1.name,end="")
print(s1.age)
print(s1.dob)
# print(s2.name)
# print(s2.age)
# print(s2.dob)

name: fdsg
age: 23
dob: fdbgf
fdsg23
fdbgf

# inheritance

In [ ]:
'''
1. single level
2. multiple
3. multi-level
4.hybrid


1.single level

        parent class
             |
        child derived
        
2.multiple

        parent1          parent2
            |               |
            -----------------
                    |
                  child 
                    
2. multi level
  
              grand parent
                    |
                  parent
                    |
                  child
                    
                    
'''

In [2]:
class stu:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob
    
s1= stu( (input("name: ")), int(input("age: ")) , input("dob: ")  )
# s2= stu("phunsuk",20,"11/08/2002")

print(s1.name)
print(s1.age)
print(s1.dob)
# print(s2.name)
# print(s2.age)
# print(s2.dob)

name: adasdadss
age: 2332
dob: 124,efs
adasdadss
2332
124,efs

In [2]:
class rai(): 
    def __init__ (self,name,eat):
        self.name=name
        self.eat=eat    
class dog(rai): 
    def __init__ (self,name,eat,do):
        super().__init__ (name,eat)
        self.do=do
a=dog("rahul","flesh","dance")
print("name:",a.name)
print("eat:",a.eat)
print("do:",a.do)

name: rahul
eat: flesh
do: dance

In [26]:
class emp():
    def __init__ (self,name,age):
        self.name=name
        self.age=age
class red(emp):
    def __init__(self,salary,company):
        self.salary=salary
        self.company=company

        
#     def __init__ (self):
        
a=emp("aayam",18)
b=red(180000,"google")
print(a.name)
print(a.age)
print(b.salary)
print(b.company)

aayam
18
180000
google

In [ ]:
## access specifiers - public and private

__grup 
 by using these 2 underscore we ca make it private

In [28]:
class stu:
    __group="ECE"      ## this is made private
    __report="Fail"
    
    def __init__ (self,name,age):
        self.name=name
        self.age=age
    def setDet(self,__group,__report):
        self.__group=__group
        self.__report=__report
    def getdet(self):
        print(self.name,self.age,self.__group,self.__report)
        
print("stu rep card")

a.name="raj"
a.age="into"

stu rep card

In [2]:
class stu:
    def __init__(self,name,age,dob):
        self.name=name
        self.age=age
        self.dob=dob

k=stu("ajay",18,3104)
print(k.name)
print(k.age)
print(k.dob)

ajay
18
3104

In [3]:
d = {2:99,3:999,4:9999,5:99999,6:999999,7:9999999,8:99999999,,9:999999999,,10:9999999999}

print(d[])

val1